In [11]:
# Dependencies
import requests
import json
import pandas as pd

In [12]:
# Google develop API key
from config import gkey1

In [13]:
# Target city. Getting coordinates from Google GenCoding API
city_address = pd.read_csv('../Raw_Data/1-1.city_codes.csv', sep=',')

In [14]:
# Grab LA county Data
LA_cities = city_address[city_address['Metro'] == 'Los Angeles']

In [15]:
# Lsit of 20 top cities by population in LA county
list_city = ['Los Angeles',
             'Long Beach',
             'Santa Clarita',
             'Glendale',
             'Palmdale',
             'Lancaster',
             'Pomona',
             'Torrance',
             'Pasadena',
             'Inglewood',
             'El Monte',
             'Downey',
             'West Covina',
             'Norwalk',
             'Burbank',
             'Compton',
             'South Gate',
             'Whittier',
             'Hawthrone',
             'Alhambra']
LA_cities.head()

         Region State        Metro       County  Code
1   Los Angeles    CA  Los Angeles  Los Angeles     2
27   Long Beach    CA  Los Angeles  Los Angeles    28
41      Anaheim    CA  Los Angeles       Orange    42
43    Santa Ana    CA  Los Angeles       Orange    44
97       Irvine    CA  Los Angeles       Orange    98

In [16]:
# Pull City and state
final = []
for i in range(len(LA_cities)):
    target = LA_cities.iloc[i, :]
    table_final = {}
    table_final['Region'] = target['Region']
    table_final['State'] = target['State']
    if table_final['Region'] in list_city:
        final.append(table_final)
final = pd.DataFrame(final)
final

           Region State
0     Los Angeles    CA
1      Long Beach    CA
2        Glendale    CA
3       Lancaster    CA
4        Palmdale    CA
5   Santa Clarita    CA
6          Pomona    CA
7        Torrance    CA
8        Pasadena    CA
9       Inglewood    CA
10        Compton    CA
11         Downey    CA
12    West Covina    CA
13        Norwalk    CA
14        Burbank    CA
15     South Gate    CA
16       El Monte    CA
17       Whittier    CA
18       Alhambra    CA

In [17]:
list_Region = final['Region']
list_Region

0       Los Angeles
1        Long Beach
2          Glendale
3         Lancaster
4          Palmdale
5     Santa Clarita
6            Pomona
7          Torrance
8          Pasadena
9         Inglewood
10          Compton
11           Downey
12      West Covina
13          Norwalk
14          Burbank
15       South Gate
16         El Monte
17         Whittier
18         Alhambra
Name: Region, dtype: object

In [18]:
# Grab Lat and Lng from google
# Run a request to endpoint and convert result to json
target = []
for i in range(len(list_Region)):

    target_city = list_Region[i]
    target_url = "https://maps.googleapis.com/maps/api/geocode/json?" \
        "address=%s&key=%s" % (target_city, gkey1)
    geo_data = requests.get(target_url).json()

In [19]:
R1 = geo_data["results"][0]
print(R1)

{'address_components': [{'long_name': 's/n', 'short_name': 's/n', 'types': ['street_number']}, {'long_name': 'Calle Real de la Alhambra', 'short_name': 'Calle Real de la Alhambra', 'types': ['route']}, {'long_name': 'Granada', 'short_name': 'Granada', 'types': ['locality', 'political']}, {'long_name': 'Granada', 'short_name': 'Granada', 'types': ['administrative_area_level_2', 'political']}, {'long_name': 'Andaluc√≠a', 'short_name': 'AL', 'types': ['administrative_area_level_1', 'political']}, {'long_name': 'Spain', 'short_name': 'ES', 'types': ['country', 'political']}, {'long_name': '18009', 'short_name': '18009', 'types': ['postal_code']}], 'formatted_address': 'Calle Real de la Alhambra, s/n, 18009 Granada, Spain', 'geometry': {'location': {'lat': 37.1760783, 'lng': -3.5881413}, 'location_type': 'ROOFTOP', 'viewport': {'northeast': {'lat': 37.1774272802915, 'lng': -3.586792319708497}, 'southwest': {'lat': 37.1747293197085, 'lng': -3.589490280291502}}}, 'place_id': 'ChIJO7l_l7f8cQ0Rf6IhEu_RjYA', 'plus_code': {'compound_code': '5CG6+CP Granada, Spain', 'global_code': '8C9R5CG6+CP'}, 'types': ['establishment', 'museum', 'point_of_interest', 'premise']}

In [20]:
# Run a request to endpoint and convert result to json
target=[]
for i in range(len(list_Region)):
    
    target_city=list_Region[i]
    target_url = "https://maps.googleapis.com/maps/api/geocode/json?" \
     "address=%s&key=%s" % (target_city, gkey1)
    geo_data = requests.get(target_url).json()
    #print(geo_data)
    R1=geo_data["results"][0]
    #print(R1)
    for a in range(len(R1)):
        R2=R1["geometry"]
        print(R2['location']['lat'])
        for j in R2:
            citi={}
            citi['lat']=R2["location"]["lat"]
            citi['lng']=R2["location"]["lng"]
            citi['northeast_Lat']=R2["bounds"]["northeast"]["lat"]
            citi['northeast_Lng']=R2["bounds"]["northeast"]["lng"]
            citi['southwest_Lat']=R2["bounds"]["southwest"]["lat"]
            citi['southwest_Lng']=R2["bounds"]["southwest"]["lng"]
            citi['address']=target_city
    target.append(citi)

37.1760783

KeyError: 'bounds'

In [21]:
# create dataframe to store all lat and lng data
address_coordinate = pd.DataFrame(target)
address_coordinate

Empty DataFrame
Columns: []
Index: []

In [22]:
# save address_coordinate for later use
address_coordinate.to_csv('../Raw_Data/1-1.LA_cities_Lat_lng_codes_data.csv', sep=',', index=None)